<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.gdu.cash.mapper.NoticeMapper">
	<insert id="insertNotice" parameterType="kr.co.gdu.cash.vo.Notice">
		<selectKey resultType="int" keyProperty="noticeId" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO notice(
			notice_title,
			notice_content,
			notice_date
		) VALUES (
			#{noticeTitle},
			#{noticeContent},
			NOW()
		)
	</insert>
	<resultMap type="kr.co.gdu.cash.vo.Notice" id="selectNoticeOneResult">
		<result property="noticeId" column="notice_id"/>
		<result property="noticeTitle" column="notice_title"/>
		<result property="noticeContent" column="notice_content"/>
		<result property="noticeDate" column="notice_date"/>
		<collection property="noticefileList" ofType="kr.co.gdu.cash.vo.Noticefile">
			<result property="noticefileId" column="noticefile_id"/>
			<result property="noticeId" column="notice_id"/>
			<result property="noticefileName" column="noticefile_name"/>
			<result property="noticefileType" column="noticefile_type"/>
			<result property="noticefileSize" column="noticefile_size"/>
		</collection>
		<collection property="commentList" ofType="kr.co.gdu.cash.vo.Comment">
			<result property="commentId" column="comment_id"/>
			<result property="noticeId" column="notice_id"/>
			<result property="commentContent" column="comment_content"/>
			<result property="commentDate" column="comment_date"/>
		</collection>
	</resultMap>
	<select id="selectLatestNoticeList" resultType="kr.co.gdu.cash.vo.Notice">
		select
			notice_id as noticeId,
			notice_title as noticeTitle,
			notice_date as noticeDate,
			notice_content as noticeContent
		from notice
		order by notice_date
		desc limit 0, 5
	</select>

	<select id="selectNoticeListByPage" parameterType="java.util.Map" resultType="kr.co.gdu.cash.vo.Notice">
		SELECT
			notice_id noticeId,
			notice_title noticeTitle,
			notice_content noticeContent,
			notice_date noticeDate
		FROM notice
		ORDER BY notice_date DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>

	<delete id="deleteNotice" parameterType="int">
		DELETE
		FROM notice
		WHERE notice_id = #{noticeId}
	</delete>
	<update id="modifyNotice" parameterType="kr.co.gdu.cash.vo.Notice">
		UPDATE notice
		SET notice_title = #{noticeTitle},
			notice_content = #{noticeContent},
			notice_date = NOW()
		WHERE notice_id = #{noticeId}
	</update>
	<select id="selectNoticeOne" resultMap="selectNoticeOneResult">
 	 SELECT
			n.notice_id ,
			n.notice_title ,
			n.notice_content ,
			n.notice_date,
			nf.noticefile_id,
			nf.notice_id,
			nf.noticefile_name,
			nf.noticefile_type,
			nf.noticefile_size,
			c.comment_id,
			c.notice_id,
			c.comment_content,
			c.comment_date
		FROM notice n
		LEFT JOIN noticefile nf
			ON n.notice_id = nf.notice_id 
		LEFT JOIN comment c
			on n.notice_id = c.notice_id
		WHERE n.notice_id = #{noticeId}
	</select>
	<select id="selectNoticeCount" resultType="Integer">
  		SELECT COUNT(*) FROM notice
	</select>
</mapper>